<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="_3mpacador4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<_3mpacador4.Properties.Settings>
   <setting name="txtservidor" serializeAs="String">
    <value />
   </setting>
   <setting name="txtusuario" serializeAs="String">
    <value />
   </setting>
   <setting name="txtpassword" serializeAs="String">
    <value />
   </setting>
   <setting name="txtbd" serializeAs="String">
    <value />
   </setting>
   <setting name="txttime" serializeAs="String">
    <value />
   </setting>
   <setting name="txtport" serializeAs="String">
    <value />
   </setting>
   <setting name="ConecctionString" serializeAs="String">
    <value />
   </setting>
   <setting name="BaudiosRecp" serializeAs="String">
    <value />
   </setting>
   <setting name="bitDatosRecp" serializeAs="String">
    <value />
   </setting>
   <setting name="ParidadRecp" serializeAs="String">
    <value />
   </setting>
   <setting name="ParadaRecp" serializeAs="String">
    <value />
   </setting>
   <setting name="BaudiosDesp" serializeAs="String">
    <value />
   </setting>
   <setting name="bitDatosDesp" serializeAs="String">
    <value />
   </setting>
   <setting name="ParidadDesp" serializeAs="String">
    <value />
   </setting>
   <setting name="ParadaDesp" serializeAs="String">
    <value />
   </setting>
   <setting name="javaverde" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="javaazul" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="paleta" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="cajacarton" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="cajaplasticablanca" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="chkjavaverde" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkjavaazul" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkpaleta" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkcajacarton" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkcajaplasticablanca" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="checked_bal1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="checked_bal2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="select_bal1" serializeAs="String">
    <value />
   </setting>
   <setting name="select_bal2" serializeAs="String">
    <value />
   </setting>
   <setting name="chk" serializeAs="String">
    <value />
   </setting>
   <setting name="txtunicode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="txtreniec" serializeAs="String">
    <value />
   </setting>
   <setting name="token_reniec" serializeAs="String">
    <value />
   </setting>
   <setting name="Impresora_valor" serializeAs="String">
    <value />
   </setting>
   <setting name="periodo" serializeAs="String">
    <value />
   </setting>
  </_3mpacador4.Properties.Settings>
	</userSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.PerformanceCounter" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
<system.data> 
    <DbProviderFactories> 
      <add name="dotConnect for MySql" invariant="Devart.Data.MySql" description="Devart dotConnect for MySql" type="Devart.Data.MySql.MySqlProviderFactory, Devart.Data.MySql, Version=9.3.10.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data></configuration>