<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.8.0.16" targetFramework="net48" />
  <package id="Devart.Data" version="6.0.10" targetFramework="net48" />
  <package id="Devart.Data.MySql" version="9.3.10" targetFramework="net48" />
  <package id="FreeSpire.PDFViewer" version="7.6.0" targetFramework="net48" />
  <package id="HarfBuzzSharp" version="7.3.0.1" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="7.3.0.1" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="7.3.0.1" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net48" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net48" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="QuestPDF" version="2023.12.4" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.7" targetFramework="net48" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.7" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.7" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.7" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="8.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="8.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="8.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net48" />
</packages>